In [108]:
import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
bitcoin=pd.read_csv("./data/coin_Bitcoin.csv")
eth=pd.read_csv("./data/coin_Ethereum.csv")
xrp=pd.read_csv("./data/coin_XRP.csv")
currency=pd.read_csv("./data/forex.csv")

In [22]:
currency.shape

(1434541, 7)

In [7]:
currency.dtypes

slug         object
date         object
open        float64
high        float64
low         float64
close       float64
currency     object
dtype: object

In [8]:
currency.index

RangeIndex(start=0, stop=1434541, step=1)

In [9]:
currency.columns

Index(['slug', 'date', 'open', 'high', 'low', 'close', 'currency'], dtype='object')

In [10]:
currency.values

array([['GBP/EGP', '2001-04-10', 5.5809, ..., 5.5947, 5.5947, 'EGP'],
       ['GBP/EGP', '2001-06-04', 5.47517, ..., 5.4939, 5.4939, 'EGP'],
       ['GBP/EGP', '2001-08-01', 5.6799, ..., 5.6543, 5.6543, 'EGP'],
       ...,
       ['USD/MXN', '2021-06-09', 19.701981, ..., 19.5877, 19.70208,
        'MXN'],
       ['USD/MXN', '2021-06-10', 19.736601, ..., 19.6479, 19.73028,
        'MXN'],
       ['USD/MXN', '2021-06-11', 19.7027, ..., 19.624741, 19.703199,
        'MXN']], dtype=object)

In [43]:
currency.isnull().any()

slug        False
date        False
open        False
high        False
low         False
close       False
currency    False
dtype: bool

In [11]:
currency['date']

0          2001-04-10
1          2001-06-04
2          2001-08-01
3          2002-07-29
4          2003-01-02
              ...
1434536    2021-06-07
1434537    2021-06-08
1434538    2021-06-09
1434539    2021-06-10
1434540    2021-06-11
Name: date, Length: 1434541, dtype: object

In [27]:
currency1=currency[currency['currency']=='USD'];currency1

            slug        date      open      high       low     close currency
187955   JPY/USD  1996-10-30  0.008744  0.008802  0.008735  0.008758      USD
187956   JPY/USD  1996-11-01  0.008811  0.008811  0.008811  0.008811      USD
187957   JPY/USD  1996-11-04  0.008828  0.008853  0.008773  0.008781      USD
187958   JPY/USD  1996-11-05  0.008794  0.008814  0.008747  0.008753      USD
187959   JPY/USD  1996-11-06  0.008754  0.008799  0.008720  0.008776      USD
...          ...         ...       ...       ...       ...       ...      ...
1067205  INR/USD  2021-06-07  0.013716  0.013747  0.013714  0.013716      USD
1067206  INR/USD  2021-06-08  0.013734  0.013747  0.013703  0.013734      USD
1067207  INR/USD  2021-06-09  0.013703  0.013723  0.013696  0.013703      USD
1067208  INR/USD  2021-06-10  0.013701  0.013710  0.013654  0.013701      USD
1067209  INR/USD  2021-06-11  0.013696  0.013718  0.013639  0.013696      USD

[46322 rows x 7 columns]

In [75]:
currency_JYP=currency1[(currency1['slug']=='JPY/USD')];currency_JYP

           slug        date      open      high       low     close currency
187955  JPY/USD  1996-10-30  0.008744  0.008802  0.008735  0.008758      USD
187956  JPY/USD  1996-11-01  0.008811  0.008811  0.008811  0.008811      USD
187957  JPY/USD  1996-11-04  0.008828  0.008853  0.008773  0.008781      USD
187958  JPY/USD  1996-11-05  0.008794  0.008814  0.008747  0.008753      USD
187959  JPY/USD  1996-11-06  0.008754  0.008799  0.008720  0.008776      USD
...         ...         ...       ...       ...       ...       ...      ...
194310  JPY/USD  2021-06-07  0.009121  0.009159  0.009121  0.009123      USD
194311  JPY/USD  2021-06-08  0.009150  0.009157  0.009128  0.009151      USD
194312  JPY/USD  2021-06-09  0.009133  0.009155  0.009121  0.009135      USD
194313  JPY/USD  2021-06-10  0.009120  0.009138  0.009109  0.009123      USD
194314  JPY/USD  2021-06-11  0.009141  0.009147  0.009104  0.009140      USD

[6360 rows x 7 columns]

In [48]:
currency_CNY=currency[currency['slug']=='USD/CNY']

In [68]:
currency_CNY['high']=1/currency_CNY['high']

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [71]:
currency_CNY

,slug,date,open,high,low,close,currency,open1,high1
429377,CNY/USD,2001-06-25,0.120821,0.120674,0.120967,0.120820,USD,8.2767,0.120674
429378,CNY/USD,2001-06-26,0.120820,0.120674,0.120966,0.120820,USD,8.2768,0.120674
429379,CNY/USD,2001-07-02,0.120821,0.120671,0.120967,0.120817,USD,8.2767,0.120671
429380,CNY/USD,2001-07-09,0.120820,0.120674,0.120967,0.120821,USD,8.2768,0.120674
429381,CNY/USD,2001-07-11,0.120818,0.120671,0.120964,0.120818,USD,8.2769,0.120671
...,...,...,...,...,...,...,...,...,...
434300,CNY/USD,2021-06-07,0.156389,0.156209,0.156607,0.156389,USD,6.3943,0.156209
434301,CNY/USD,2021-06-08,0.156340,0.156262,0.156669,0.156340,USD,6.3963,0.156262
434302,CNY/USD,2021-06-09,0.156262,0.156250,0.156858,0.156262,USD,6.3995,0.156250
434303,CNY/USD,2021-06-10,0.156580,0.156384,0.156902,0.156580,USD,6.3865,0.156384
434304,CNY/USD,2021-06-11,0.156438,0.156301,0.156826,0.156438,USD,6.3923,0.156301

In [88]:
currency_CNY=currency_CNY.drop('open1',axis=1).drop('high1',axis=1)

In [99]:
currency_CNY.reset_index(drop=True)

         slug        date      open      high       low     close currency
0     CNY/USD  2001-06-25  0.120821  0.120674  0.120967  0.120820      USD
1     CNY/USD  2001-06-26  0.120820  0.120674  0.120966  0.120820      USD
2     CNY/USD  2001-07-02  0.120821  0.120671  0.120967  0.120817      USD
3     CNY/USD  2001-07-09  0.120820  0.120674  0.120967  0.120821      USD
4     CNY/USD  2001-07-11  0.120818  0.120671  0.120964  0.120818      USD
...       ...         ...       ...       ...       ...       ...      ...
4923  CNY/USD  2021-06-07  0.156389  0.156209  0.156607  0.156389      USD
4924  CNY/USD  2021-06-08  0.156340  0.156262  0.156669  0.156340      USD
4925  CNY/USD  2021-06-09  0.156262  0.156250  0.156858  0.156262      USD
4926  CNY/USD  2021-06-10  0.156580  0.156384  0.156902  0.156580      USD
4927  CNY/USD  2021-06-11  0.156438  0.156301  0.156826  0.156438      USD

[4928 rows x 7 columns]

In [ ]:
currency_JYP()

In [89]:
currency2=currency_CNY.append(currency_JYP)

In [97]:
currency2.reset_index(drop=True) # 重新排行數字

          slug        date      open      high       low     close currency
0      CNY/USD  2001-06-25  0.120821  0.120674  0.120967  0.120820      USD
1      CNY/USD  2001-06-26  0.120820  0.120674  0.120966  0.120820      USD
2      CNY/USD  2001-07-02  0.120821  0.120671  0.120967  0.120817      USD
3      CNY/USD  2001-07-09  0.120820  0.120674  0.120967  0.120821      USD
4      CNY/USD  2001-07-11  0.120818  0.120671  0.120964  0.120818      USD
...        ...         ...       ...       ...       ...       ...      ...
11283  JPY/USD  2021-06-07  0.009121  0.009159  0.009121  0.009123      USD
11284  JPY/USD  2021-06-08  0.009150  0.009157  0.009128  0.009151      USD
11285  JPY/USD  2021-06-09  0.009133  0.009155  0.009121  0.009135      USD
11286  JPY/USD  2021-06-10  0.009120  0.009138  0.009109  0.009123      USD
11287  JPY/USD  2021-06-11  0.009141  0.009147  0.009104  0.009140      USD

[11288 rows x 7 columns]

In [106]:
currency_JYP=currency_JYP.reset_index(drop=True);currency_JYP

         slug        date      open      high       low     close currency
0     JPY/USD  1996-10-30  0.008744  0.008802  0.008735  0.008758      USD
1     JPY/USD  1996-11-01  0.008811  0.008811  0.008811  0.008811      USD
2     JPY/USD  1996-11-04  0.008828  0.008853  0.008773  0.008781      USD
3     JPY/USD  1996-11-05  0.008794  0.008814  0.008747  0.008753      USD
4     JPY/USD  1996-11-06  0.008754  0.008799  0.008720  0.008776      USD
...       ...         ...       ...       ...       ...       ...      ...
6355  JPY/USD  2021-06-07  0.009121  0.009159  0.009121  0.009123      USD
6356  JPY/USD  2021-06-08  0.009150  0.009157  0.009128  0.009151      USD
6357  JPY/USD  2021-06-09  0.009133  0.009155  0.009121  0.009135      USD
6358  JPY/USD  2021-06-10  0.009120  0.009138  0.009109  0.009123      USD
6359  JPY/USD  2021-06-11  0.009141  0.009147  0.009104  0.009140      USD

[6360 rows x 7 columns]

In [112]:
currency_CNY=currency_JYP.reset_index(drop=True);currency_CNY

         slug        date      open      high       low     close currency
0     JPY/USD  1996-10-30  0.008744  0.008802  0.008735  0.008758      USD
1     JPY/USD  1996-11-01  0.008811  0.008811  0.008811  0.008811      USD
2     JPY/USD  1996-11-04  0.008828  0.008853  0.008773  0.008781      USD
3     JPY/USD  1996-11-05  0.008794  0.008814  0.008747  0.008753      USD
4     JPY/USD  1996-11-06  0.008754  0.008799  0.008720  0.008776      USD
...       ...         ...       ...       ...       ...       ...      ...
6355  JPY/USD  2021-06-07  0.009121  0.009159  0.009121  0.009123      USD
6356  JPY/USD  2021-06-08  0.009150  0.009157  0.009128  0.009151      USD
6357  JPY/USD  2021-06-09  0.009133  0.009155  0.009121  0.009135      USD
6358  JPY/USD  2021-06-10  0.009120  0.009138  0.009109  0.009123      USD
6359  JPY/USD  2021-06-11  0.009141  0.009147  0.009104  0.009140      USD

[6360 rows x 7 columns]

In [102]:
currency2

          slug        date      open      high       low     close currency
0      CNY/USD  2001-06-25  0.120821  0.120674  0.120967  0.120820      USD
1      CNY/USD  2001-06-26  0.120820  0.120674  0.120966  0.120820      USD
2      CNY/USD  2001-07-02  0.120821  0.120671  0.120967  0.120817      USD
3      CNY/USD  2001-07-09  0.120820  0.120674  0.120967  0.120821      USD
4      CNY/USD  2001-07-11  0.120818  0.120671  0.120964  0.120818      USD
...        ...         ...       ...       ...       ...       ...      ...
11283  JPY/USD  2021-06-07  0.009121  0.009159  0.009121  0.009123      USD
11284  JPY/USD  2021-06-08  0.009150  0.009157  0.009128  0.009151      USD
11285  JPY/USD  2021-06-09  0.009133  0.009155  0.009121  0.009135      USD
11286  JPY/USD  2021-06-10  0.009120  0.009138  0.009109  0.009123      USD
11287  JPY/USD  2021-06-11  0.009141  0.009147  0.009104  0.009140      USD

[11288 rows x 7 columns]

In [129]:
dateFormatter="%Y-%m-%d"
currency_CNY['date']=pd.to_datetime(currency_CNY['date'],format=dateFormatter)

In [158]:
currency_CNY.dtypes

slug                object
date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
currency            object
dtype: object

In [131]:
dateFormatter="%Y-%m-%d"
currency_JYP['date']=pd.to_datetime(currency_JYP['date'],format=dateFormatter)

In [157]:
currency_JYP.dtypes

slug                object
date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
currency            object
dtype: object

In [134]:
dateFormatter="%Y-%m-%d"
currency2['date']=pd.to_datetime(currency['date'],format=dateFormatter)

In [155]:
currency2.dtypes

slug                object
date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
currency            object
dtype: object

In [139]:
currency_CNY.to_csv('currency_CNY.csv')

In [140]:
currency_CNY.to_csv('data/currency_CNY.csv')

In [141]:
currency_JYP.to_csv('data/currency_JYP.csv')

In [142]:
currency2.to_csv('data/currency2.csv')

In [154]:
df=pd.read_csv('data/currency_JYP.csv')

In [153]:
df.dtypes

Unnamed: 0      int64
slug           object
date           object
open          float64
high          float64
low           float64
close         float64
currency       object
dtype: object